NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:5000
NEXT_PUBLIC_STAFF_POLL_MS=10000
NEXT_PUBLIC_RECEPTION_POLL_MS=20000
NEXT_PUBLIC_PATIENT_POLL_MS=30000
NEXT_PUBLIC_DISPLAY_POLL_MS=10000
NEXT_PUBLIC_PATIENT_NOTICE_MS=40000
NEXT_PUBLIC_OPD_START_TIME=09:30
NEXT_PUBLIC_OPD_END_TIME=21:30
NEXT_PUBLIC_OPD_SLOT_INTERVAL_MINUTES=30
